.Form {
    margin: 5px; 
    color: #0431B4;
}

.BtnSubmit input{
    font-size: 1.2em;
    background-color:  #EFF5FB;
    width: 230px;
    height: 40px;
    border-color: #5882FA;
    outline: none;
    border-width: 2px;
    border-radius: 8px;
    color: #0431B4;
    margin-top: 20px;
}


.TextIn{
    
    font-size: 1.2em;
    margin: 10px;  
}

.TextIn input {
    font-size: 1.0em;
    align-self: flex-end;
    border-radius: 4px;
    border-color: #5882FA;
    width: 180px;
    color: #0431B4;
    text-align: left;
}